.demo-2 {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #507cb5;
	--color-info: #507cb5;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #507cb5;
}

.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}

.flex-center-wrapper {
	display: flex;
	display: -webkit-flex;
	align-content: center;
	align-items: center;
	-webkit-align-content: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	text-align: center;
}

.flex-row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.slider-toggle {
	display: block;
	margin: 10px 15px 10px 15px;
	color: white;
	font-size: 18px;
	border: none;
	letter-spacing: 1px;
	font-family: Lato;
	width: 50px;
	height: 20px;
	border-radius: 100px;
	text-align: center;
	background-color: rgb(43, 57, 69);
	transition: background-color 0.5s;
}

.buttons-container span {
	color: white;
	font-family: Lato;
	font-size: 18px;
	letter-spacing: 1.2px;
}

.selected { background-color: rgb(18, 209, 234); }

.sliding-menu {
	background-color: rgb(40, 38, 38);
	visibility: hidden;
	position: fixed;
	overflow: hidden;
}

.sliding-menu a, .sliding-menu p {
	font-family: Lato;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 18px;
	color: rgb(200, 200, 200);
	text-decoration: none;
	margin: 0 20px;
}

.sliding-menu ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.sliding-menu li { margin: 40px auto 40px auto; }

.sliding-menu hr {
	width: 50%;
	min-width: 100px;
	border-color: rgb(18, 209, 234);
}

.exit {
	position: absolute;
	font-size: 40px;
	color: white;
	cursor: pointer;
}